/**
 * @name n1R Customs
 * @version v2.0.3
 * @description A theme made for self usage & friends
 * @author n1R / K.K.P
 *
 * @website http://github.com/SoloRed
 * @source https://github.com/SoloRed/Main/blob/master/Discord/n1R_Customs.main.css
 * @donate https://paypal.me/#
 * @invite #
 */

@import url(https://solored.github.io/Main/Discord/n1R_Customs.main.css);
